# -----------------------------

# Compiled binaries

# -----------------------------

*.exe
*.out
*.app
*.bin
library

# -----------------------------

# Object files

# -----------------------------

*.o
*.obj

# -----------------------------

# Static & dynamic libraries

# -----------------------------

*.so
*.a
*.dll
*.dylib

# -----------------------------

# Build folders

# -----------------------------

build/
bin/
dist/

# -----------------------------

# VS Code

# -----------------------------

.vscode/

# -----------------------------

# CMake

# -----------------------------

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# -----------------------------

# OS files

# -----------------------------

.DS_Store
Thumbs.db

# -----------------------------

# Temporary files

# -----------------------------

*.log
*.tmp
*~
